.box {
    border: solid;
    padding: 1rem;
    width: fit-content;
    height: auto; 
}
.table-container {
            max-height: 300px;
            overflow-y: auto;
            border: 1px solid #ccc;
            width: 100%;
}

.center {
    text-align: center;
}

div.plot {
    width: 900px;
    max-width: 100%;
}
table.sub {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

td.sub, th.sub{
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.ptsjsonalt {
    background-color: #1f77b480;
}
.ptsjson {
    background-color: #ff7f0e80;
}
.livejsonalt {background-color: #2ca02c80;
}
.livejson {
  background-color: #d6272880;
}